/*
  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Nguyen Ngoc Kim
  ID: s3970589
  Acknowledgement: Poppins font-family.
*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
}


body, header, nav, ul, li, a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
  
/* Basic styles for the navigation bar */
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #63b340; 
}

header .logo a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

header .logo a span{
    color: rgb(232, 10, 17);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #62b340f9;
    color: #fff;
    height: 75px;
    padding: 0 20px;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

nav ul li{
    margin-right: 20px;
    font-size: 18px;
}

nav a{
    color: #fff;
    text-decoration: none;
}

.mobile-nav-icon {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    background-color: #ffffff;
    display: none;
}

nav ul li a:hover{
    color: #30edf4;
}


/*Reponsive*/

@media (max-width: 991px) {
    nav{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 5px 20px;
    }

    nav ul{
        flex-direction: column;
        margin-top: 20px;
    }

    nav li{
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    nav{
        display: none;
    }

    .mobile-nav-icon {
        display: block;
    }

    .mobile-nav-icon:hover+nav {
        display: block;
    }

    nav:hover {
        display: block;
    }
}
/*Main*/
h1 {
    text-align: center;
    background-color: #a6ff0049;
    border-radius: 40px;
    color: #e61e2a;
}
h1 span {
    color: #000054;
}

form {
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}
  
form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 5px;
}
  
form fieldset {
    border: none;
    margin-bottom: 10px;
}
  
form fieldset legend {
    font-weight: bold;
    margin-bottom: 5px;
}
  
form button[type="submit"],
form button[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
  
form button[type="submit"]:hover,
form button[type="reset"]:hover {
    background-color: #3e8e41;
}
  
/* Apply styles for mobile devices */
@media screen and (max-width: 480px) {
    form label,
    form input[type="checkbox"] + label,
    form input[type="radio"] + label {
      display: block;
    }
  
    form input[type="checkbox"],
    form input[type="radio"] {
      display: inline-block;
      margin-right: 10px;
    }
}
  

/*Footer*/

footer {
    background-color: #62b340f9;
    padding: 20px;
    font-family: monospace;
    margin-top: 20px;
}



.max-width {
    max-width: 1300px;
    margin: 0 auto;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}
h3 span{
    color: crimson;
    font-weight: bold;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex-basis: 35%;
    margin-bottom: 20px;
}

h4 {
    font-size: 29px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-content .column ul a {
    text-decoration: none;
    color: white;
}

.footer-content .column ul a:hover {
    color: #30edf4;
} 

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.row {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

p {
    font-size: 14px;
    margin: 0;
}

/* Responsive CSS */

@media (max-width: 1200px) {
    .column {
        flex-basis: 100%;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 25px;
    }

    p {
        font-size: 14px;
    }

    .works h1 {
        border-radius: 79px;
        font-size: 2.5rem;
    }

    .max-width {
        max-width: 350px;
    }
    
    .works .item-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .book {
        padding-top: 20px;
    }
}